:root {
    --duration: 30s;
    --totalitems: 4;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333;
}

section {
    padding-top: 200px !important;
}

.w7 {
    font-weight: 700;
}

.h1 {
    font-size: 5vw;
    font-weight: 700;
}

.text-color-primary {
    color: #B92F9E;
}

.bg-color-primary {
    background-color: #B92F9E;
}

.navbar-brand {
    font-size: 3vw;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.nav-link {
    font-weight: 700;
    font-size: 1.5vw;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 0%;
}

.nav-link.active {
    color: #98CD03 !important;
}

.navbar-brand:hover {
    color: #98CD03 !important;
}

.nav-link:hover {
    color: #98CD03 !important;
}

.btn-hijau {
    background-color: #98CD03;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 10px;
    margin-top: 20px;
}

#sec1 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    width: 100%;
}

/* #sec1 .btn-hijau {
    padding: 10px !important;
} */

#sec1>.container>.row>.col-md-6>.btn-hijau:hover{
    background-color: #B92F9E;
    color: #FFFFFF;
}

#img-s1 {
    width: 657px;
    height: 350px;
    position: absolute;
    right: 0;
    border-radius: 20px;
    float: right;
    margin-left: auto;
}

.text {
    font-size: 3vw;
    @media (min-width: 768px) {
        font-size: 1.35vw;
    }
}

.text2 {
    font-size: 2vw;
    @media (min-width: 768px) {
        font-size: 1.35vw;
    }
}

#sec2 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    width: 100%;
    background-color: #F1F1F1;
}

#sec2 .text-decoration-none:hover {
    color: #98CD03 !important;
}

#sec2 .btn-hijau:hover {
    background-color: #FFFFFF;
    color: #B92F9E;
}

.card {
    border-radius: 50px !important;
}

#sec3 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    width: 100%;
}

#sec3 .text {
    font-size: 1.17vw;
    font-weight: 500;
}

.btn-accordion {
    background-color: transparent;
    color: #B92F9E;
    font-size: 1.875vw;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: auto;
    width: 20vw;
    text-align: left;
    margin: 10px;
    padding: 20px !important;
}

.btn-accordion.active {
    background-color: transparent;
    color: #B92F9E;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    border: 1px solid #B92F9E;
    border-radius: 15px;
}

.btn-accordion:hover {
    font-weight: 500;
    color: #B92F9E;
}

.fa-solid {
    color: #98CD03 !important;
    right: 0;
    font-size: 1.875vw;
    margin-top: auto;
}

#sec3>.container>.row>.col-md-8>.card {
    padding: 10px;
    width: 100%;
    border: 1px solid #B92F9E;
    border-radius: 20px;
}

.img-s3 {
    width: 100%;
}

.content-accordion>.h3.mb-3 {
    color: #B92F9E;
    font-weight: 500;
    font-size: 1.875vw;
    line-height: 100%;
    letter-spacing: 0%;
}

.content-accordion img {
    border-radius: 15px;
}

.content-accordion>.text {
    font-weight: 500;
    font-size: 1.17vw;
    line-height: 100%;
    letter-spacing: 0%;
}

#sec4 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    width: 100%;
}

#sec4 .card {
    border-radius: 20px !important;
}

.card.for-sec4 {
    border-radius: 15px !important;
    padding: 20px;
    background-color: #F1F1F1;
}

.card.for-sec4>input {
    background-color: #cfcfcf;
}

.for-sec4>.card-body .btn-hijau {
    border-radius: 50px;
    width: 20vw !important;
}

#sec4 .btn-hijau:hover {
    background-color: #B92F9E;
    color: #FFFFFF;
}

#sec5 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    width: 100%;
    background-color: #B92F9E;
    display: flex;
    justify-content: center !important;
    align-items: center!important;
    text-align: center!important;
}

#sec5 .h1 {
    font-size: 3vw;
    @media (max-width: 768px) {
        font-size: 5vw;
    }
    font-weight: 700;
    margin-bottom: 20px;
}

#sec5 .text {
    /* font-size: 1.56vw; */
    font-weight: 700;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: 1.56vw;
    height: 1.56vw;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: #B92F9E;
    color: #FFFFFF;
}

#sec5 .btn-hijau {
    background-color: #FFFFFF;
    color: #B92F9E;
    font-size: 1.56vw;
    font-weight: 700;
    padding: 10px;
    border-radius: 50px;
    width: 10vw !important;
}

#sec6 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    width: 100%;
}

#sec6 .for-title {
    margin-bottom: 100px !important;
}

#sec6 .h1 {
    font-size: 3.75vw;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
}

#sec6 .btn-hijau {
    border-radius: 50px;
}

#sec6 .btn-hijau:hover {
    background-color: #B92F9E;
    color: #FFFFFF;
}

#sec6 .h2 {
    font-size: 2.81vw;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
}

#sec7 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    max-width: 100%;
    background-color: #F1F1F1;
}

#sec7 .h1 {
    font-size: 3.75vw;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 50px;
}

.gallery {
    gap: 10px;
    max-width: 100vw !important;
    min-width: 100vw !important;
    justify-content: center;
}

footer {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-color: #B92F9E;
    color: #FFFFFF;
}

footer table {
    height: 100%;
}

footer .table-responsive {
    font-weight: 600;
    font-size: 1.56vw;
    line-height: 100%;
    letter-spacing: 0%;
}

.gallery {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .wrapper {
    position: relative;
    display: flex;
    height: 15vh;
    @media (min-width: 768px) {
        height: 40vh;
    }
    width: 100%;
    /* gap: 0; */
    overflow: hidden;
    /* mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0)); */
}

.img-item-r {
    position: absolute;
    height: inherit;
    width: 70vw;
    left: 100%;
    animation: scrollX var(--duration) linear infinite;
    animation-delay: calc(var(--duration)/var(--totalitems) * (var(--totalitems) - var(--i)) * -1);
}

.img-item-l {
    position: absolute;
    height: inherit;
    width: 70vw;
    left: 100%;
    animation: scrollX2 var(--duration) linear infinite;
    animation-delay: calc(var(--duration)/var(--totalitems) * (var(--totalitems) - var(--i)) * -1);
}

@keyframes scrollX {
    to {
        left: -50vw;
    }
}

@keyframes scrollX2 {
    from {
        left: -50vw;
    }
    to {
        left: 100%;
    }
}

.gallery-img {
    height: inherit;
}

@media (max-width: 768px) {
    .text, span, p, button {
        font-size: 2.5vw !important;
    };
    
    btn-hijau {
        padding: 5px !important;
    }
    
    section {
        padding-top: 3rem;   
    }
}

@media (min-width: 769px) {
    .btn-hijau {
        padding: 20px !important;
    }   
}